:root {
    --font-family: 'Noto Serif JP', serif;
    /* font system in Phone */
    --phone-font-catch-copy: 24px;
    --phone-font-menu: 24px;
    --phone-font-section-title: 24px;
    --phone-font-section-description: 14px;
    --phone-font-bottom-menu: 14px;
    --phone-font-bottom-address: 14px;
    --phone-font-copy-right: 10px;
    /* font system in PC */
    --pc-font-catch-copy: 52px;
    --pc-font-menu: 24px;
    --pc-font-section-title: 34px;
    --pc-font-section-description: 24px;
    --pc-font-bottom-menu: 24px;
    --pc-font-bottom-address: 24px; 
    --pc-font-copy-right: 14px;

    /* color system */
    --color-background: #FFFFFF;
    --color-description: #7D7D7D;

    /* portion system in Phone */
    --phone-width-main: 86%;
}




/* screen =< 780px */
@media screen and (max-width: 780px) {

* {
    margin: 0;
    padding: 0;
}

section, header, div, span {
    display: block;
    box-sizing: border-box;
}

img {
    vertical-align: bottom;
}

html {
    font-family: var(--font-family);
    font-size: var(--phone-font-section-description);
    background-color: var(--color-background);
}

/* header */
header {
    width: 100vw;
    height: 90px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

#logo-wrapper {
    float: left;
}

#logo-wrapper img {
    height: 30px;
}

#header-menu {
    float: right;
}

#header-menu label {
    position: relative;
    display: block;
    height: 35px;
    width: 40px;
    cursor: pointer;
}

#open {
    display: none;
}

.menu-line {
    width: 100%;
    height: 3px;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 3px;
    transition-duration: .4s;
}

#slide-in-menu-wrapper {
    position: fixed;
    top: 0;
    right: -285px;
    width: 285px;
    height: 100vh;
    transition: left .5s, right .5s;
    background-color: #FFFFFF;
}

#slide-in-menu-wrapper label {
    position: absolute;
    display: block;
    top: 30px;
    left: 15px; 
    height: 35px;
    width: 40px;
}

.close-menu-upside {
    width: 100%;
    height: 3px;
    margin-bottom: 13px;   
    background-color: black;
    border-radius: 3px; 
    -webkit-transform: translateY(8px) rotate(-30deg);
    transform: translateY(8px) rotate(-30deg);
}

.close-menu-downside {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    -webkit-transform: translateY(-8px) rotate(30deg);
    transform: translateY(-8px) rotate(30deg);
}

#slide-in-menu {
    padding-top: 20vh;
    padding-left: 20px;
    padding-right: 20px;
}

#slide-in-menu a {
    display: block;
    margin: auto;
    margin-bottom: 60px;
    font-size: var(--phone-font-menu);
}

#open:checked + #slide-in-menu-wrapper {
    right: 0;
}

/* top-section */
#top-wrapper {
    width: 100vw;
    height: 225px;
}

#top-text-wrapper {
    width: 100vw;
    padding-top: 75px;
    padding-bottom: 20px;
}

#top-text-wrapper p {
    font-size: var(--phone-font-catch-copy);
    text-align: center;
}

#top-line {
    width: 187px;
    height: 3px;
    margin: auto;
    margin-bottom: 20px;
    background-color: #000000;
}

#sns-icons-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 180px;
    margin: auto;
}

#sns-icons-wrapper a i {
    font-size: 20px;
    color: #000000;
}

/* section */
.section-image-wrapper img {
    width: 100vw;
}

.section-text-wrapper {
    width: var(--phone-width-main);
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section-title {
    margin-bottom: 10px;
    font-size: var(--phone-font-section-title);
    font-weight: bold;
}

.section-description {
    font-size: var(--phone-font-section-description);
    color: var(--color-description);
}

/* bottom section */
#bottom-wrapper {
    width: var(--phone-width-main);
    margin: auto;
    margin-top: 90px;
}

#bottom-menu-wrapper {
    margin-bottom: 105px;
}

#bottom-menu-wrapper a {
    display: block;
    color: #000000;
    margin-bottom: 15px;
    font-size: var(--phone-font-bottom-menu);
    text-decoration-color: #000000;
}

#bottom-addresses {
    margin-bottom: 90px;
}

#bottom-addresses p {
    font-size: var(--phone-font-bottom-address);
    margin-bottom: 10px;
}

#copy-right {
    margin-bottom: 15px;
    font-size: var(--phone-font-copy-right);
    text-align: center;
}

}




/* screen => 781 */
@media screen and (min-width: 781px) {

* {
    margin: 0;
    padding: 0;
}

section, header, div, span {
    display: block;
    box-sizing: border-box;
}

img {
    vertical-align: bottom;
}

html {
    font-family: var(--font-family);
    font-size: var(--pc-font-section-description);
    backrgound-color: var(--color-background);
}

}
